{% extends "base.html" %}

{% block content %}

{% if message %}
  <div class="alert alert-success">{{ message }}</div>
{% endif %}

<p class="motivational-goal">
  {{ motivational_goal }}
  <button id="add-goal-button" class="hidden">
    <img src="{{ url_for('static', filename='button.svg') }}" alt="Add Goal">
  </button>
</p>

{% if goals %}
<ul class="goals">
    {% for goal in goals %}
      <li>
        <!-- Goal Name -->
        <strong>{{ goal.goal_name }}</strong>
        <!-- (Completed) status -->
        {% if goal.completed == 1 %}<em> (Completed)</em>{% endif %}
        
        <p>
          <strong>Description:</strong> {{ goal.goal_description }}<br>
          <strong>Time Span:</strong> {{ goal.time_span }}
          {% if goal.time_span == "specific_date" %}
            (Ends on: {{ goal.end_date }})
          {% endif %}
          <br>
          <strong>Iteration:</strong> {{ goal.iteration }}<br>
          <strong>Next Step:</strong> {{ goal.next_steps }}<br>
          <strong>Reward:</strong> {{ goal.reward }}
        </p>
        <hr>

        <!-- Edit link -->
        <a href="{{ url_for('edit_goal', goal_id=goal['id']) }}">Edit</a>
        <!-- Delete form -->
        <form method="POST" action="/delete_goal">
          <input type="hidden" name="goal_id" value="{{ goal.id }}" style="display:inline">
          <button type="submit">Delete</button>
        </form>
        
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No goals yet. <a href="{{ url_for('add_goal') }}">Add one</a>.</p>
{% endif %}

<script>
  document.querySelector('.motivational-goal').addEventListener('mouseover', function() {
    document.getElementById('add-goal-button').classList.remove('hidden');
  });

  document.querySelector('.motivational-goal').addEventListener('mouseout', function() {
    document.getElementById('add-goal-button').classList.add('hidden');
  });

  document.getElementById('add-goal-button').addEventListener('click', function() {
    window.location.href = "{{ url_for('add_goal') }}";
  });
</script>

{% endblock %}
