{% extends "base.html" %}
{% block content %}
<div class="add-goal-page">
  <div class="goal-form-container">
    <div class="goal-form-intro">
      <h2>{{ goal.goal_name }}</h2>
      <!-- <p>{{ goal.goal_description }}</p> -->
      <h2>{{ goal.next_steps }}</h2>
    </div>

    <form method="POST" class="form-group">

      <!-- Time Span Options -->
      <div class="form-inline-group">
        <span class="form-label">Step completed?</span>
        <label>
          <input 
            type="radio" 
            name="completed" 
            value="yes" 
            {% if request.args.get('completed') == 'yes' %}checked{% endif %}
            onclick="updateMessage('yes')"
          > yes
        </label>
        <label>
          <input 
            type="radio" 
            name="completed" 
            value="no"
            {% if request.args.get('completed') == 'no' %}checked{% endif %}
            onclick="updateMessage('no')"
          > no
        </label>
      </div>

      <h2 id="dynamicMessage">
        {% if request.args.get('completed') == 'yes' %}
          Banana!
        {% elif request.args.get('completed') == 'no' %}
          Baboon is pissed
        {% endif %}
      </h2>

      <div class="form-group">
        <label id="lblWasDone">Write shortly what you did:</label><br>
        <textarea 
          type="text" 
          id="txtWasDone" 
          name="was_done" 
          maxlength="200" 
          class="input-medium"
          rows="1"
          required
        ></textarea>
        <p class="text-light small">200 chars</p>
        
      </div>

      <div class="form-group">
        <label id="lblNextStep">Next Step:</label><br>
        <textarea 
          type="text" 
          id="txtNextStep" 
          name="next_steps" 
          maxlength="200" 
          class="input-medium"
          rows="1"
          required
        >{{ goal.next_steps }}</textarea>
        <p class="text-light small">200 chars</p>
        
      </div>

      <div class="form-group">
        <label id="lblReward">Reward:</label><br>
        <textarea 
          type="text" 
          id="txtReward" 
          name="reward" 
          maxlength="64" 
          class="input-medium"
          rows="1"
          required
        >{{ goal.reward }}</textarea>
        <p class="text-light small">64 chars</p>
      </div>

      <!-- Iteration Options -->
      <div class="form-inline-group">
        <span class="form-label">iteration</span>
        <label>
          <input
            type="radio"
            name="iteration"
            value="week"
            {% if goal['iteration'] == 'week' %}checked{% endif %}
          > week
        </label>
        <label>
          <input
            type="radio"
            name="iteration"
            value="2 weeks"
            {% if goal['iteration'] == '2 weeks' %}checked{% endif %}
          > 2 weeks
        </label>
        <label>
          <input
            type="radio"
            name="iteration"
            value="month"
            {% if goal['iteration'] == 'month' %}checked{% endif %}
          > month
        </label>
      </div>

      <button type="submit" id="btnSave" class="add-goal-button">save</button>
    </form>
  </div>
</div>

<script>
  function updateMessage(value) {
    const dynamicMessage = document.getElementById('dynamicMessage');
    const lblWasDone = document.getElementById('lblWasDone');
    const txtWasDone = document.getElementById('txtWasDone');
    const lblNextStep = document.getElementById('lblNextStep');
    const txtNextStep = document.getElementById('txtNextStep');
    const lblReward = document.getElementById('lblReward');
    const txtReward = document.getElementById('txtReward');
    const lblIteration = document.getElementById('lblIteration');
    const selIteration = document.getElementById('selIteration');
    const btnSave = document.getElementById('btnSave');

    if (value === 'yes') {
      dynamicMessage.textContent = 'Banana!';
      lblWasDone.textContent = 'Write shortly what you did:';
      txtWasDone.value = '';
      lblNextStep.textContent = 'Next Step:';
      txtNextStep.value = '';
      lblReward.textContent = 'Reward:';
      txtReward.value = '';
      lblIteration.textContent = 'Iteration Frequency:';

    } else if (value === 'no') {
      dynamicMessage.textContent = 'Baboon is angry';
      lblWasDone.textContent = 'Write shortly what you did:';
      txtWasDone.value = '';
      lblNextStep.textContent = 'Next Step:';
      txtNextStep.value = '{{ goal.next_steps }}';
      lblReward.textContent = 'Reward:';
      txtReward.value = '{{ goal.reward }}';
      lblIteration.textContent = 'Iteration Frequency:';
    }
  }
</script>
{% endblock %}